p {
        width: 200px;
        display: inline-block;
        vertical-align: middle;
      }

      button {
        vertical-align: middle;
      }

      img {
        width: 200px;
        margin-left: 100px;
        display: block;
      }

      .search-bar2 {
        padding: 5px 8px;
        margin-top: 5px;
        width: 400px;
        border-radius: 250px ;
        box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.15);
        border: none;
        margin-bottom: 25px;
      }

      .email {
        display: block;
        margin-top: 8px;
        padding: 8px;
        border-radius: 5px;
        border-color: grey;
        border-style: solid;
        margin-bottom: 8px;
        width: 380px;

      }
      .fName {
        padding: 8px;
        border-radius: 5px;
        border-color: grey;
        border-style: solid;
        width: 178px;
      }
      .signup-button {
        background-color: rgb(20, 104, 206);
        color: white;
        font-size: 18px;
        font-weight: bold;
        padding: 8px;
        border: none;
        border-radius: 8px;
        width: 400px;
        cursor: pointer;
        margin-bottom: 25px;
      }

      .title {
        display: block;
        font-size: 30px;
        width: 300px;
        font-family: Arial;
        font-weight: bold;
      }
      .enter-text {
        display: block;
        width: 300px;
        margin-bottom: 10px;
        padding: 8px;
        border: none;
        background-color: rgb(212, 212, 212);
      }
      .request-button {
        background-color: black;
        color: white;
        padding: 12px;
        width: 120px;
        margin-right: 12px;
        cursor: pointer;
      }
      .schedule-button {
        padding: 14px;
        width: 150px;
        border: none;
        background-color: rgb(212, 212, 212);
        cursor: pointer;
      }