p {
  color: rgb(80, 79, 79);
  font-size: 14px;
}

input {
  width: 320px;
  border-radius: 3px;
  padding: 4px;
}

button {
  background-color: rgb(11, 94, 195);
  color: white;
  font-size: 16px;
  padding: 10px 120px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
}

.profile-pic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: left;
  border-radius: 25px;
  vertical-align: middle;
}
.input-text {
  border: none;
  vertical-align: middle;
  object-position: center;
  font-size: 20px;
}
.tweet-button {
  background-color: rgb(58, 177, 241);
  padding: 7px 15px;
  font-weight: bold;
}