p {
        font-family: Roboto;
        margin-top: 0;
        margin-bottom: 0;
      }

      .video-title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        width: 270px;
        line-height: 24px;
        margin-bottom: 5px;
      }
      .video-stats {
        font-family: Roboto;
        font-size: 14px;
        color: #606060;
        margin-bottom: 20px;
      }
      .video-author {
        font-family: Roboto;
        font-size: 14px;
        color: #606060;
        margin-bottom: 20px;
      }
      .video-description {
        font-family: Roboto;
        font-size: 14px;
        color: #606060;
        width: 270px;
        line-height: 22px;
        margin-bottom: 100px;
      }
      .apple-text {
        margin-bottom: 50px;
        font-size: 14px;
        color: white;
        text-align: center;
        background-color: #e34140;
        padding: 16px 16px;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 16px;
      }
      .span-example {
        cursor: pointer;
        margin-left: 3px;
      }

      .span-example:hover {
        text-decoration: underline;
      }